<div  id="table_container">
    <table class="ttask_rdr"  ng-init="setData.current('Task List RDR','taskRdrPre')" >        
        <tr>
            <td colspan="2" >Task list RDR  : </td>
        </tr>
        
        <tr  >
            <td >Task ID : </td>
            <td >
                 <input type="text" ng-model="taskRdrPre['id']" placeholder="decimales" > 
            </td>
            
        </tr>
        
        <tr  >
            <td >Orbit ID : </td>
            <td >
                 <input type="text" ng-model="taskRdrPre['orbit']" placeholder="decimales" > 
            </td>
        </tr>
        
       <tr>
            <td colspan="2" >Capture time UTC: </td>
        </tr>
        
        <tr>
            <td >UTC Start:</td>
            <td >
                <select   ng-model="taskRdrPre.hour0" >
                    <option  ng-repeat="h0 in time._24h"  value="{{h0}}" >{{h0}}</option>
                </select>
                <select   ng-model="taskRdrPre.minute0" >
                    <option  ng-repeat="m0 in time._60"  value="{{m0}}" >{{m0}}</option>
                </select>
                 <select   ng-model="taskRdrPre.second0" >
                    <option  ng-repeat="s0 in time._60"  value="{{s0}}" >{{s0}}</option>
                </select>     
            </td>
        </tr> 
        
        <tr>
            <td >UTC End:</td>
            <td >
                <select   ng-model="taskRdrPre.hour2" >
                    <option  ng-repeat="h2 in time._24h"  value="{{h2}}" >{{h2}}</option>
                </select>
                <select   ng-model="taskRdrPre.minute2" >
                    <option  ng-repeat="m2 in time._60"  value="{{m2}}" >{{m2}}</option>
                </select>
                 <select   ng-model="taskRdrPre.second2" >
                    <option  ng-repeat="s2 in time._60"  value="{{s2}}" >{{s2}}</option>
                </select>     
            </td>
        </tr> 
        
        
        <tr>
            <td colspan="2" >Capture time Local: </td>
        </tr>
        
         <tr>
            <td >Local Start:  </td>
            <td >
                <select   ng-model="taskRdrPre.hour1" >
                    <option  ng-repeat="h1 in time._12h"  value="{{h1}}" >{{h1}}</option>
                </select>
                <select   ng-model="taskRdrPre.minute1" >
                    <option  ng-repeat="m1 in time._60"  value="{{m1}}" >{{m1}}</option>
                </select>
                 <select   ng-model="taskRdrPre.second1" >
                    <option  ng-repeat="s1 in time._60"  value="{{s1}}" >{{s1}}</option>
                </select>     
                <select ng-model="taskRdrPre.meridium0">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
            </td>
        </tr> 
        
        <tr >
            <td >Local End:  </td>
            <td >
                <select   ng-model="taskRdrPre.hour3" >
                    <option  ng-repeat="h3 in time._12h"  value="{{h3}}" >{{h3}}</option>
                </select>
                <select   ng-model="taskRdrPre.minute3" >
                    <option  ng-repeat="m3 in time._60"  value="{{m3}}" >{{m3}}</option>
                </select>
                 <select   ng-model="taskRdrPre.second3" >
                    <option  ng-repeat="s3 in time._60"  value="{{s3}}" >{{s3}}</option>
                </select>     
                <select ng-model="taskRdrPre.meridium1">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
            </td>
        </tr> 
        
        <tr ng-repeat="ar in taskRdrPre.area"  >
            <td  > Area {{$index+1}}  :</td>
           <td >
                <select ng-init="getData.countries()"   ng-model="taskRdrPre.area[$index]"  >
                    <option ng-repeat="c in taskRdrPre.country"  value="{{c}}" >{{c}}</option>
                </select>
                
                        <br />
                 <input ng-show="taskRdrPre.area[$index]=='Venezuela'" type="button" value="añadir estado" ng-click="setData.addition('state',$index);" />
                 
                 <span ng-init="setData.inicializateState($index)"  ng-show="taskRdrPre.area[$index]=='Venezuela'"   style="display:block">
                    <select  style="display:block" ng-repeat="sub in taskRdrPre.subArea[$index]"  ng-init="getData.states()"   ng-model="taskRdrPre.subArea[$parent.$index][$index]"    >
                        <option ng-repeat="stat in taskRdrPre.state" value="{{stat.estado}}" >{{stat.estado}}</option>
                    </select>
                </span>
                        
            </td>
        </tr> 
        
        <tr>
            <td colspan="2">
                <input type="button" value=" añadir pais " ng-click="setData.addition('country');" />
            </td>
        </tr>
        
        
        <tr>
            <td >Image Data :</td>
           <td >
                 <input type="text" ng-model="taskRdrPre.image" >
            </td>
        </tr> 
       
       <tr>
           <td >Trans mode :</td>
           <td >
                <input type="radio"  ng-model="taskRdrPre['trans']" name="taskRdrPre4" id="on_taskRdrPre4" value="s">       
                <label  for="on_taskRdrPre4">  SYN </label>
                   
                <input type="radio"  ng-model="taskRdrPre['trans']"  name="taskRdrPre4" id="off_taskRdrPre4" value="a">               
                <label  for="off_taskRdrPre4"> ASYN </label>
            </td>
        </tr> 
        
         <tr>
            <td colspan="2">
                Agregar nota
                <input type="checkbox" id="nota{{currentModule.module}}" style="display:inline" />
                <textarea ng-model="taskRdrPre.notes" style="resize:none;" id="text{{currentModule.module}}"></textarea>
            </td>
        </tr>
    
          <tr>
            <td colspan="2">
                <input type="button" value="Guardar {{currentModule.title}}" ng-click="play()" />
            </td>
        </tr>
    </table> 
</div>