<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../../../Model/Js/Angular/App/app.js"></script>
<script src="../../../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../../../Model/Js/Angular/Controller/validate.js"></script>



</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
   

    

          
<table border="1" align="center" >     
        
        <tr>
        	<td colspan="2" align="center" >Pass Mode : </td>
        </tr>
        
         <tr  >
        	<td >{{cPassMode2[0].name}} : </td>
            <td >
            	 <input type="radio"  ng-model="passMode2['v0']" name="passMode20" id="on_passMode20" value="s">
           
                   <label  for="on_passMode20">
                        Efective
                   </label>
                   
                 <input type="radio"  ng-model="passMode2['v0']"  name="passMode20" id="off_passMode20" value="n">
                   
                   <label  for="off_passMode20">
                        Failed
                   </label>
                   
           
  			</td>
            
        </tr>   
        
        
         <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Pass Mode" ng-click="validate('passMode2');" />
            </td>
        </tr>
        
      
      
        
    </table>
    
          
    
    
    
    
   </div>
   </div>
   </body>
   </html>
