<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../../../Model/Js/Angular/App/app.js"></script>
<script src="../../../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../../../Model/Js/Angular/Controller/validate.js"></script>



</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
   

    

          
<table border="1" align="center" >     
        
        <tr>
        	<td colspan="2" align="center" >Power: </td>
        </tr>
        
         <tr  ng-repeat="ra1 in cRaw1 | limitTo: 13"  >
        	<td >{{ra1.name}} : </td>
            <td >
            	  <input type="text" ng-model="raw1['v'+$index]" placeholder="decimales" >
                   
           
  			</td>
            
        </tr>  
        
        <tr>
        	<td >{{cRaw1[13].name}} :</td>
           <td >
            <input type="radio"  ng-model="raw1['transmision']" name="raw113" id="on_raw113" value="aut">
           
                   <label  for="on_raw113">
                       AUT
                   </label>
                   
                 <input type="radio"  ng-model="raw1['transmision']"  name="raw113" id="off_raw113" value="ftp">
                   
                   <label  for="off_raw113">
                        (FTP) MAN
                   </label>
            </td>
        </tr> 
        
        <tr>
        	<td >{{cRaw1[14].name}} :</td>
           <td >
            	 <input type="text" ng-model="raw1['reTransmision']" placeholder="decimales" >
            </td>
        </tr> 
        
         <tr  >
        	<td >{{cRaw1[15].name}} : </td>
            <td >
            	 <input type="radio"  ng-model="raw1['backup']" name="raw115" id="on_raw115" value="s">
           
                   <label  for="on_raw115">
                        SI
                   </label>
                   
                 <input type="radio"  ng-model="raw1['backup']"  name="raw115" id="off_raw115" value="n">
                   
                   <label  for="off_raw115">
                        NO
                   </label>
                   
           
  			</td>
            
        </tr>  
        
         <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Raw 1" ng-click="validate('raw1');" />
            </td>
        </tr>
        
      
        
    </table>
    
          
    
    
    
    
   </div>
   </div>
   </body>
   </html>

