<!DOCTYPE html >
<html lang="es"  ng-app="satelite"  ng-controller="controller" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../../../Model/Js/Angular/App/app.js"></script>
<script src="../../../../Model/Js/Angular/Service/dialog.js"></script>
<script src="../../../../Model/Js/Angular/Service/route.js"></script>
<script src="../../../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../../../Model/Js/Angular/Controller/controller.js"></script>



</head>


<body >

	<div>
    
    	<div ng-include src="route.shortcut.dialog"></div>  
        
		
        
        
        
		<div  >
  <br />  <br />  <br /> 
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->
 
  <input type="button" value="BLT {{currentPass.backup }}" ng-click="forceBLT();" >
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->


<br />  <br /> <br />

<table border="1" align="center">
    	
       
        
        <tr>
        	<td colspan="2" >Task list RDR: </td>
        </tr>
        
         <tr ng-repeat="RDR2 in nTaskRDR2" >
        	<td >{{RDR2.title}} : </td>
           <td >
            	 <input type="text" ng-model="taskRDR2[RDR2.property]" placeholder="decimales" >
            </td>
        </tr>
        
        
     	<tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Task List RDR" ng-click="validate('taskRDR2');" />
            </td>
        </tr>
        
    </table>    
    
   </div>
   </div>
   </body>
   </html>


