<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../../../Model/Js/Angular/App/app.js"></script>
<script src="../../../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../../../Model/Js/Angular/Controller/validate.js"></script>



</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
  <br />  <br />  <br /> 
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->
 
  <input type="button" value="BLT {{currentPass.backup }}" ng-click="forceBLT();" >
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->

<table border="1" align="center" >     
        
   
        <tr>
        	<td colspan="2">ACU SOFTWARE </td>
        </tr>
        
        
        <tr ng-repeat="acu2 in cAcuSoftware2"  >
        	<td align="center" >{{acu2.name}}: </td>
            <td >
            	<input type="text" ng-model="acuSoftware2['v'+$index]" >
  			</td>
        </tr>
        

          <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Acu Software" ng-click="validate('acuSoftware2');" />
            </td>
        </tr>
        
        
          </table>
          
    
    
    
    
   </div>
   </div>
   </body>
   </html>

