<div id="table_container">
    <table  class="tdevice_acu" ng-init="setData.current('Device Acu','deviceAcu')" >        
        <tr>
            <td colspan="2">Device ACU : </td>
        </tr>
        
        <tr>
            <td colspan="2">Rack No1 y Antenna HUB : </td>
        </tr>       
           
        <tr  ng-repeat="da in nDeviceAcu | limitTo: 12"  >
            <td >{{da.title}} : </td>
            <td >
                 <input type="radio"  ng-model="deviceAcu['v'+$index]" name="device_acu{{$index}}" id="on_device_acu{{$index}}" value="s">       
                 <label id="label_device_acu{{$index}}"  for="on_device_acu{{$index}}"> ON</label>
                   
                 <input type="radio"  ng-model="deviceAcu['v'+$index]"  name="device_acu{{$index}}" id="off_device_acu{{$index}}" value="n">              
                 <label id="label_device_acu{{$index}}"  for="off_device_acu{{$index}}"> OFF </label>
            </td>       
        </tr> 
        
       <tr   >
            <td align="center" >Humidity :  </td>
            <td >
                <input type="text" ng-model="deviceAcu['v12']" >
            </td>
        </tr> 
        
        <tr   >
            <td align="center" >Temperature :  </td>
            <td >
                <input type="text" ng-model="deviceAcu['v13']" >
            </td>
        </tr> 
           
          <tr>
            <td colspan="2">
                Agregar nota
                <input type="checkbox" id="nota{{currentModule.module}}" style="display:inline" />
                <textarea ng-model="deviceAcu.notes" style="resize:none;" id="text{{currentModule.module}}"></textarea>
            </td>
        </tr>
    
          <tr>
            <td colspan="2">
                <input type="button" value="Guardar {{currentModule.title}}" ng-click="play()" />
            </td>
        </tr>
    </table>
</div>