<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../Model/Js/Angular/App/app.js"></script>
<script src="../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../Model/Js/Angular/Controller/validate.js"></script>

<link rel="stylesheet" href="../Style/trend.css" type="text/css">
<link rel="stylesheet" href="../Style/binary.css" type="text/css">

</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
  

   
<table border="1" align="center">
        
        
          <tr>
        	<td colspan="2">Device : </td>
        </tr>
        
            <tr  ng-repeat="d in cDevice"  >
        	<td >{{d.name}} : </td>
            <td >
            	 <input type="radio"  ng-model="device['v'+$index]" name="device{{$index}}" id="on_device{{$index}}" value="s">
           
                   <label for="on_device{{$index}}">
                        ON
                   </label>
                   
                 <input type="radio" ng-model="device['v'+$index]" name="device{{$index}}" id="off_device{{$index}}" value="n">
                   
                   <label for="off_device{{$index}}">
                        OFF
                   </label>
                   
           
  			</td>
            
        </tr>   
           
        
         <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Device" ng-click="validate('device');" />
            </td>
        </tr>
        
        
       
</table>     







  <br />  <br /> <br />
    
          
    
    
    
    
   </div>
   </div>
   </body>
   </html>
