<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../Model/Js/Angular/App/app.js"></script>
<script src="../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../Model/Js/Angular/Controller/validate.js"></script>

<link rel="stylesheet" href="../Style/trend.css" type="text/css">
<link rel="stylesheet" href="../Style/binary.css" type="text/css">

</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
  <br />  <br />  <br /> 
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->
 
  <input type="button" value="BLT {{currentPass.backup }}" ng-click="forceBLT();" >
  
  <!--  
   //////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////                         ///////////////////////////////////////
	/////////////////////////////////   forzar valor del BLT  ////////////////////////////////////////
	////////////////////////////////                         /////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////-->


    
    <table border="1" align="center">     
        
        <tr>
        	<td colspan="2" >Task list RDR  : </td>
        </tr>
        
         <tr  ng-repeat="RDR1 in cTaskRDR | limitTo:2"  >
        	<td >{{RDR1.name}} : </td>
            <td >
            	 <input type="text" ng-model="taskRDR['v'+$index]" placeholder="decimales" >                 
           
  			</td>
            
        </tr>
     
       
        
        <tr>
        	<td >{{cTaskRDR[2].name}} :</td>
           <td >
            	 <input type="text" ng-model="taskRDR['utc']" placeholder="decimales" >
            </td>
        </tr> 
        
        <tr>
        	<td >{{cTaskRDR[3].name}} :</td>
           <td >
            	 <input type="text" ng-model="taskRDR['local']" placeholder="decimales" >
            </td>
        </tr> 
        
       <tr>
        	<td >{{cTaskRDR[4].name}} :</td>
           <td >
            <input type="radio"  ng-model="taskRDR['trans']" name="taskRDR4" id="on_taskRDR4" value="syn">
           
                   <label id="syn"  for="on_taskRDR4">
                       SYN
                   </label>
                   
                 <input type="radio"  ng-model="taskRDR['trans']"  name="taskRDR4" id="off_taskRDR4" value="asyn">
                   
                   <label id="asyn" for="off_taskRDR4">
                        ASYN
                   </label>
            </td>
        </tr> 
        
        	<tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Task List RDR" ng-click="validate('taskRDR');" />
            </td>
        </tr>
        
        </table> 
    
   </div>
   </div>
   </body>
   </html>            