#menu_list
{
	display:none;
}
.menu_list
{
	/*background-color:red;*/
	height:100%;
}

#menu
{
	/*background-color:#CF0;*/
	height:50px;
	width:100%;
	text-align:center;
	box-sizing:border-box;
}

.menu_list a, .menu_list a:hover, .menu_list a:active, .menu_list a:visited, .menu_list a:link
{
	/*background-color:red;*/ 
	color:#666;
	font-size:20px;
	font-weight:bold;
	width:20%;
	text-decoration:none;
	display:inline-block;
	padding-top:12px;
	height:100%;
	box-sizing:border-box;	
}

.menu_list a:nth-child(1), .menu_list a:nth-child(1):hover, .menu_list a:nth-child(1):active, .menu_list a:nth-child(1):visited, .menu_list a:nth-child(1):link
{
	width:14%;	
}

.menu_list a:hover
{
	background-color:#CCC;
	color:#fff;
}

.hamburguer
{
	display:none;
}

.logo
{
	display:none;
}

@media (max-width: 960px)
{	
	.logo
	{
		/*background-color:red;*/
		display:inline-block;
		width:200px;
		height:100%;
		background-image:url(../image/middle.jpg);
		background-size:600px 100% ;
		background-repeat:no-repeat;
		margin-bottom:-5px;
		
	}
	
	.hamburguer
	{
		display:inline-block;
		position:relative;
		float:left;
		left:20px;
		height:70px;
		color:#ccc;
		font-size:50px;
		cursor:pointer;
	}
	
	#menu
	{
		height:70px;
		position:absolute;
		background-color:#fff;
		box-shadow: 2px 2px 5px #ccc;
		z-index:2;
	}
	
	.menu_list
	{
		
		display:none;
	}
	
	#menu_list:checked ~ .menu_list
	{
		display:block;
	}
	
	.menu_list a, .menu_list a:hover, .menu_list a:active, .menu_list a:visited, .menu_list a:link
	{
		background-color:#fff;
		/*background-color:#9F3;*/
		display:block;
		position:static;
		float:none;
		color:#666;
		font-size:20px;
		font-weight:bold;
		width:100%;
		text-decoration:none;
		display:inline-block;
		padding-top:22px;
		height:70px;
		box-sizing:border-box;	
	}
	
	.menu_list a:nth-child(1), .menu_list a:nth-child(1):hover, .menu_list a:nth-child(1):active, .menu_list a:nth-child(1):visited, .menu_list a:nth-child(1):link
	{
		width:100%;
	}
	
	.menu_list a:hover
	{
		background-color:#CCC;
		color:#fff;
	}
	
	.menu_list a:last-child, .menu_list a:last-child:hover, .menu_list a:last-child:active, .menu_list a:last-child:visited, .menu_list a:last-child:link
	{
		box-shadow: 0px 2px 2px #ccc;
	}
	
		
}


