<table border="1" align="center"  ng-hide="currentPass.modules['power']">     
       
        <tr>
        	<td colspan="2" align="center" >Power: </td>
        </tr>
        
         <tr  ng-repeat="pow in nPower"  >
        	<td >{{pow.title}} : </td>
            <td >
            	 <input type="radio"  ng-model="power[pow.property]" name="power{{$index}}" id="on_power{{$index}}" value="s">
           
                   <label for="on_power{{$index}}">
                        SI
                   </label>
                   
                 <input type="radio"  ng-model="power[pow.property]" name="power{{$index}}" id="off_power{{$index}}" value="n">
                   
                   <label for="off_power{{$index}}">
                        NO
                   </label>
                   
           
  			</td>
            
        </tr>   
        
         <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Power" ng-click="validate('power');" />
            </td>
        </tr>
        
      
        
    </table>