
<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prepase</title>
<script src="../../../../Model/Js/Angular/Core/angularV1.js"></script>
<script src="../../../../Model/Js/Angular/Dependency/angular-route.js"></script>
<script src="../../../../Model/Js/Angular/App/app.js"></script>
<script src="../../../../Model/Js/Angular/Controller/dialog.js"></script>
<script src="../../../../Model/Js/Angular/Service/declareInitialize.js"></script>
<script src="../../../../Model/Js/Angular/Service/validate.js"></script>
<script src="../../../../Model/Js/Angular/Service/setData.js"></script>
<script src="../../../../Model/Js/Angular/Controller/validate.js"></script>



</head>


<body ng-app="satelite" >

	<div>
    
    	<div  ng-controller="dialog" ng-include="'../../../../View/Shared/dialog.html'"></div>  
        
		
        
        
        
		<div ng-controller="validate" >
  <br />  <br /> <br />
<table border="1" align="center">
        
        <tr>
        	<td colspan="2">Rack N2 : </td>
        </tr>
        
         <tr  ng-repeat="r2 in cRack2"  >
        	<td >{{r2.name}} : </td>
            <td >
            	 <input type="radio"  ng-model="rack2['v'+$index]" name="rack2{{$index}}" id="on_rack2{{$index}}" value="s">
           
                   <label id="label_rack2{{$index}}"  for="on_rack2{{$index}}">
                        ON
                   </label>
                   
                 <input type="radio"  ng-model="rack2['v'+$index]"  name="rack2{{$index}}" id="off_rack2{{$index}}" value="n">
                   
                   <label id="label_rack2{{$index}}"  for="off_rack2{{$index}}">
                        OFF
                   </label>
                   
           
  			</td>
        </tr>
        
         <tr>
        	<td colspan="2">
            	<input type="button" value="Guardar Rack No2" ng-click="validate('rack2');" />
            </td>
        </tr>
       
  </table>      
        
        
        <br />  <br /> <br />
    
    
    
   </div>
   </div>
   </body>
   </html>


