<!DOCTYPE html >
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../Style/trend.css"/>
<link rel="stylesheet" type="text/css" href="../Style/menu.css"/>
<title>General</title>
</head>

<body>


<div class="container">
    
    <div id="menu">
    	<input type="checkbox" id="menu_list">
    	<label class="hamburguer" for="menu_list">&#9776;</label>
    	<div class="logo"></div>
        <div class="menu_list">
            <a href="#">Satélites</a>
            <a href="#">Crear Actividad</a>
            <a href="#">Registrar Actividad</a>
            <a href="#">Editar Actividad</a>
            <a href="#">Consultar Actividad</a>
        </div>
    </div>
    
    
</div>
</body>
</html>
